# volume name example: vg_cloudstorage-lv--one--166--0
SUBSYSTEM=="block",KERNEL=="dm-*",ACTION=="add|change",ENV{DM_NAME}=="*-lv--one--*",OWNER="oneadmin"
SUBSYSTEM=="block",KERNEL=="dm-*",ACTION=="add|change",ENV{DM_NAME}=="*-lv--oneimg--*",OWNER="oneadmin"

